.product-gallery-wrapper {
  background: #ffffff;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(145, 89, 112, 0.18);
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
}

.image-gallery-slide-wrapper {
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  border-radius: 25px;
}

.image-gallery-image {
  object-fit: contain !important;
  height: 450px !important;
  width: 100%;
  padding: 20px !important;
  border-radius: 20px !important;
}

.image-gallery-bullets {
  bottom: 25px !important;
  background: rgba(145, 89, 112, 0.1);
  padding: 8px 15px;
  border-radius: 50px;
  backdrop-filter: blur(4px);

  left: 50% !important;
  right: auto !important;
  transform: translateX(-50%) !important;

  display: flex !important;
  align-items: center;
  justify-content: center;
  width: fit-content !important;
  margin: 0 auto;
}

.image-gallery-bullets .image-gallery-bullet {
  border: 1px solid #915970 !important;
  background: #fff;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.image-gallery-bullets .image-gallery-bullet.active {
  background: #915970 !important;
  transform: scale(1.3);
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  background: transparent !important;
  padding: 0 !important;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
  top: 50% !important;
}

.image-gallery-left-nav:hover,
.image-gallery-right-nav:hover {
  background: transparent !important;

  transform: translateY(-50%) scale(1.1) !important;
}

@media (max-width: 576px) {
  .image-gallery-image,
  .image-gallery-slide-wrapper {
    height: 300px !important;
    min-height: 300px;
  }
}
