.rate-item-section {
  padding: 10px 0;
}

.rate-item-section .rate-name {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  color: #333;
}

.rate-item-section .cat-rate {
  font-size: 16px;
  font-weight: 600;
  color: #ffc107;
}

.rate-item-section .rate-description {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  padding: 0 10px;
}

.rate-item-section .row:first-child .col {
  display: flex;
  align-items: center;
}
.rate-item-section:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
