.admin-add-category-wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  direction: rtl;
  font-family: "Almarai", sans-serif;
}

.admin-content-title {
  font-size: 28px;
  font-weight: 800;
  color: #555;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 25px !important;
  text-align: right;
}

.text-form {
  font-size: 16px;
  font-weight: 700;
  color: #444;
  text-align: right;
}

#upload-image-input {
  display: none;
}

.image-upload-area {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 2px dashed #bbb;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  /* transition: border-color 0.3s, box-shadow 0.3s; */
  transition: all 0.3s ease-in-out;
  background-color: #f9f9f9;
}

.image-upload-area:hover {
  border-color: #915970;
  /* box-shadow: 0 0 0 4px rgba(145, 89, 112, 0.1); */
  background-color: #fff5f8;
}

.category-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.image-upload-area:hover .category-preview-image {
  transform: scale(1.05);
}
.input-form {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 15px;
  font-size: 16px;
  font-family: "Almarai", sans-serif;
  transition: all 0.3s;
  width: 100%;
}

.input-form:focus {
  border-color: #915970;
  box-shadow: 0 0 0 0.25rem rgba(145, 89, 112, 0.25);
  outline: none;
}

.input-form::placeholder {
  color: #aaa;
  font-size: 14px;
}
.btn-save-category {
  background-color: #915970;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 700;
  transition: background-color 0.3s;
}

.btn-save-category:hover {
  background-color: #7b4c62;
}
/* تحسين الزر عند التعطيل (Loading State) */
.btn-save-category:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media (max-width: 767px) {
  .admin-content-title {
    font-size: 24px;
    text-align: center;
  }
  .text-form {
    text-align: center;
  }

  .d-flex.justify-content-end {
    justify-content: center !important;
  }
}
