.admin-content-text {
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #272727;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #915970; 
    display: inline-block;
}


@media (max-width: 576px) {
    .admin-content-text {
        font-size: 18px;
        text-align: center;
        display: block;
    }
}
