body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  width: 100%;
  direction: rtl;
  overflow-x: hidden;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.font {
  font-family: "Almarai", sans-serif;
  background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
